{% extends 'layout.html' %}

{% block body %}
  <h1>About Us</h1>
<br>
<h3>Our Features:</h3>
  <ul>
    <li>Draup specific platform for annotating the text and keeping everybody on the same page on a specific project.</li>
    <li>The annotated text will be tagged for label, under a vertical & sub-vertical and organization name.</li>
  <li>The platform would provide search feature, for referencing any keyword to all the text annotated, labels and organization name.
  <li>User can query search edit and delete own posts and tags</li>
    <li>User can view each others work and post in order to stay in connection.</li>
    </ul>
<p>Thus providing a platform for all project workers to be on the same page and stay updated with what others have done.</p>
{% endblock %}
