{% extends 'layout.html' %}

{% block body %}
  <h1>Latest User Uploads</h1>
  <ul class="list-group">
    {% for upload in uploads %}
      <li class="list-group-item">
        <h3>{{upload.email}}</h3>
        <p>{{upload.highlighted_text}}</p> <br>
        <b>Label : {{upload.tag}}</b> <br>
        <p>Subvertical : {{upload.subvertical}}</p> <br>
        <p>Vertical : {{upload.vertical}}</p> <br>
        <p>Organisation Name: {{upload.organisation_name}}</p>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
